@use '../abstracts/' as *;

.button,
.button *,
.button :after,
.button :before,
.button:after,
.button:before {
  border: 0 solid;
  box-sizing: border-box;
}

.button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: button;
  background-color: $btnbg;
  background-image: none;
  color: $bgmain;
  cursor: pointer;
  font-weight: 900;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  border-radius: 99rem;
  overflow: hidden;
  padding: 7px;
  position: relative;
  display: flex;

  @include desktop {
    padding: 2px 20px;
    line-height: 2.5rem;
  }
}

.button:disabled {
  cursor: default;
}

.button:-moz-focusring {
  outline: auto;
}

.button svg {
  display: block;
}

.button [hidden] {
  display: none;
}

.button a {
  font-weight: 900;
  z-index: 1;
}

.button:before {
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s;
  width: 0;
}

.button:hover:before {
  width: 100%;
}