@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.navbar {
  display: none;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__menu {
    ul {
      display: flex;
      gap: 1.875rem;

      a {
        font-size: 1.2rem;
        font-weight: bold;
        transition: all ease-in-out .3s;

        &:hover {
          transform: scale(1.4);
          transition: all ease-in-out .3s;
          color: $primary;
        }
      }
    }
  }
}

.navbar-mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #081b29;
  opacity: .5;

  @include desktop {
    display: none;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
    z-index: 3;
  }
}