@use '../abstracts/index' as *;

.section-home {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include widescreen {
    display: grid;
    grid-template-columns: 1fr .5fr;
    align-items: center;
    gap: 50px;
    padding-top: 200px;
  }

  &__info {
    &--text {
      h2 {
        font-size: 3rem;
        text-align: center;
        font-weight: bold;

        @include widescreen {
          font-size: 5rem;
          font-weight: bold;
          text-align: inherit;
        }
      }

      span {
        display: block;
        font-size: 1.5rem;
        color: $primary;
        font-weight: bold;
        text-align: center;

        @include widescreen {
          display: inline-block;
          font-size: 3rem;
          color: $primary;
          font-weight: bold;
          width: 470px;
          animation: olivetti 3s steps(30), pampalluga 0.5s step-end infinite alternate;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      p {
        text-wrap: balance;
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;

        @include widescreen {
          text-align: inherit;
        }
      }
    }

    &--buttons {
      display: flex;
      justify-content: center;
      gap: 1.875rem;
      padding-top: 1.875rem;

      @include widescreen {
        justify-content: inherit;
      }

      a {
        letter-spacing: 2px;
      }
    }

    &--rrss {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding-bottom: 24px;

      @include widescreen {
        justify-content: inherit;
        padding-bottom: inherit;
      }

      a {
        border-radius: 60px;
        border: 2px solid $primary;
        padding: 10px;
        margin-top: 30px;
        color: $primary;
        transition: all ease-in-out .3s;

        &:hover {
          background-color: $primary;
          color: $black;
          transition: all ease-in-out .3s;
        }
      }
    }
  }

  &__image {

    img {
      border-radius: 10%;
      height: 600px;
    }
  }
}

@keyframes olivetti {
  from {
    width: 0;
  }
}

@keyframes pampalluga {
  50% {
    border-color: transparent;
  }
}