---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon";
---

<Layout>
	<main>
		<section id="about" class="section-home container">
			<div class="section-home__info">
				<div class="section-home__info--text">
					<h2>Hi!, I´m Gabi Pérez</h2>
					<span>Frontend Developer</span>
					<p>
						¡Hola! Soy un apasionado Front-End Developer que convierte diseños
						en experiencias digitales cautivadoras. Mi enfoque se centra en la
						fusión entre la estética y la funcionalidad, creando interfaces
						amigables y atractivas. Con habilidades en HTML, CSS, JavaScript y
						un compromiso con la accesibilidad, aspiro a ofrecer experiencias
						digitales memorables y efectivas. Estoy emocionado por compartir mi
						trabajo contigo. <span>¡Bienvenido a mi porfolio!</span>
					</p>
				</div>
				<div class="section-home__info--buttons">
					<Button link="/projects" name="Projects" />
					<Button link="/contact" name="Contact" />
				</div>
				<div class="section-home__info--rrss">
					<div><a href=""><Icon width={20} name="ri:linkedin-fill" /></a></div>
					<div>
						<a href=""><Icon width={20} name="teenyicons:github-solid" /></a>
					</div>
					<div><a href=""><Icon width={20} name="ri:mail-fill" /></a></div>
				</div>
			</div>
			<div class="section-home__image">
				<img src="/assets/img/gabi.webp" alt="Gabi Pérez Licerán" />
			</div>
		</section>
	</main>
</Layout>
