---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon";
---

<Layout>
	<main>
		<section id="about" class="section-home container">
			<div class="section-home__info">
				<div class="section-home__info--text">
					<h2>Hi!, I´m Gabi Pérez</h2>
					<span>Frontend Developer</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. A fugiat
						harum at vel iure quod tempora ratione eveniet deserunt provident.
					</p>
				</div>
				<div class="section-home__info--buttons">
					<Button link="/projects" name="Projects" />
					<Button name="Contact" />
				</div>
				<div class="section-home__info--rrss">
					<div><a href=""><Icon width={20} name="ri:linkedin-fill" /></a></div>
					<div>
						<a href=""><Icon width={20} name="teenyicons:github-solid" /></a>
					</div>
					<div><a href=""><Icon width={20} name="ri:mail-fill" /></a></div>
				</div>
			</div>
			<div class="section-home__image">
				<img src="/assets/img/gabi.webp" alt="Gabi Pérez Licerán" />
			</div>
		</section>
	</main>
</Layout>
