@use '../abstracts/variables' as *;

.calculator {
  width: 365px;
  height: 350px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #eee;
  padding: 10px;
  margin: 50px auto;

  button {
    outline: none;
  }

  &__screen {
    input {
      width: 100%;
      padding: 20px;
      outline: none;
      text-align: right;
      font-size: 20px;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }

  &__operations {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      width: 24%;
      height: 50px;
    }
  }

  &__numbers {
    width: 75%;

    div {
      display: flex;
      justify-content: space-between;

      button {
        width: 32%;
        height: 50px;
      }
    }
  }

  &__equal {
    flex: 1;

    button {
      margin-left: 5%;
      width: 95%;
      height: 100%;
      background-color: $secondary;
      color: #eee;
    }
  }
}