@use '../abstracts/variables' as *;

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;

  ul {
    display: flex;
  }

  li {
    padding-right: 30px;
  }

  a {
    color: $white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all ease-in-out .3s;

    &:hover {
      color: $secondary;
    }
  }

  p {
    font-size: 2rem;
    color: $secondary;
    font-weight: bold;
  }

  span {
    color: $white;
  }
}