/*** Colores ***/
$primary: #1E2233;
$secondary: #fd5c57;
$white: #FFFF;
$bg-body: $primary;

/*** Fuentes ***/
$body-font: 'Montserrat', sans-serif;

/*** Gradiantes ***/
$bg-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))