---
import { NAVBAR } from "../services/navbar";
import Home from "../components/icons/Home.astro";
import User from "../components/icons/User.astro";
import Porfolio from "../components/icons/Porfolio.astro";
import Projects from "../components/icons/Projects.astro";
import Contact from "./icons/Contact.astro";
---

<nav class="navbar container">
  <div class="navbar__title">
    <a href="/"><h1>GapeDev</h1></a>
  </div>
  <div class="navbar__menu">
    <ul>
      {
        NAVBAR.map(({ path, name }) => (
          <li>
            <a href={path}>{name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<nav class="navbar-mobile">
  <div class="navbar-mobile__icon">
    <Home />
    <User />
    <Porfolio />
    <Projects />
    <Contact />
  </div>
</nav>
