 /*** Colores ***/
 $primary: #000;
 $white: #ffff;

 /*** Fuentes ***/
 $body-font: "Montserrat", sans-serif;

 /*** Gradiantes ***/
 $bg-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: $body-font;
 }

 img {
   max-width: 100%;
   object-fit: cover;
 }

 a {
   background: transparent;
   text-decoration: none;
 }

 li {
   list-style: none;
 }

 .container {
   padding: 25px 100px;
 }