 /*** Colores ***/
 $primary: #1e2233;
 $secondary: #fd5c57;
 $white: #ffff;
 $bg-body: $primary;

 /*** Fuentes ***/
 $body-font: "Montserrat", sans-serif;

 /*** Gradiantes ***/
 $bg-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

 /*** Botón ***/
 $width: 130px;
 $height: 35px;
 $tooltip-height: 35px;
 $tooltip-width: 90px;
 $gap-between-tooltip-to-button: 18px;
 $tooltip-color: #fff;

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   background-color: $bg-body;
   font-family: $body-font;
 }

 img {
   max-width: 100%;
   object-fit: cover;
 }

 a {
   background: transparent;
   text-decoration: none;
 }

 li {
   list-style: none;
 }

 .container {
   padding: 80px 90px;
 }